# do not check-in built files
build/*

# do not checkin vim temporary files
*.swp

# ignores IntelliJ-based IDE project files
.idea

# ignore intermediate LaTeX files generated for the handbook
doc/handbook/*.aux
doc/handbook/*.log
doc/handbook/*.out
doc/handbook/*.synctex.gz
doc/handbook/*.toc